<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Základní informace</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Kdo jsem?</h4>
                    <p class="text-muted text-justify">Mé jméno je Miloš Turek a jsem fotograf z Mladé Boleslavi. Vítejte na mé webové prezentaci.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Co nabízím?</h4>
                    <p class="text-muted text-justify">Nabízím kvalitní fotografie dětí, rodin, domácích mazlíčků - zkrátka kohokoliv a čehokoliv, na čem Vám záleží. Ukázky mé práce si můžete prohlédnout v galerii <a href="/commercial">zakázkových fotografií</a>.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Jak mě kontaktovat?</h4>
                    <p class="text-muted text-justify">Můžete mi napsat mail, zavolat mi nebo mi poslat zprávu přes některou ze sociálních sítí. Všechny kontakty najdete pohromadě v <a class="page-scroll" href="#contacts">patičce</a> této prezentace.</p>
                </div>
            </div>
        </div>
    </section>